.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px black;
}

.note{
    color: red;
    font-size: 20px;
}

.copy_right_footer{
    bottom: 0;
    position: fixed;
    color: lavender;
    background-color: black;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas{
    border: 5px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px purple;
}